version: "3.8"

services:
  monica:
    build: .
    container_name: monica_app
    ports:
      - "8080:80"
    env_file:
      - .env
    volumes:
      - ./code:/var/www/html      # live code mount
      - ./storage:/var/www/html/storage  # giá»¯ SQLite + logs persist
    restart: unless-stopped
    environment:
      OPCACHE_VALIDATE_TIMESTAMPS: 1
      OPCACHE_REVALIDATE_FREQ: 0
      APP_ENV: local
      APP_DEBUG: true
